<li>
	{{name}}

	<button class="change-eaten" data-id="{{id}}" data-neweaten="{{eaten}}">
{{#if eaten}}Eat again{{else}} Yum!{{/if}}
	</button>
		


	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
